<a href="/home">Return to homepage</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<a href="/addnewbook">Add a book</a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<a href="deleteabook">Delete a book</a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;