
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style">
    <style>
        .pane{
            background-color: rgb(198, 191, 191);
        }
        body{
            background-color: rgb(210, 181, 236);
            border-style: double;
            text-align: center;
            padding: 30px;
        }
    </style> 
</head>
<body>
    <div class="data-form">
        <form action="../newbook/create" method="POST">
            <h2>Add a new book:</h2>
            <label for="name">Book Name:</label><br>
            <input type="text" name="name"><br><br>
            <label for="author">Author Name:</label><br>
            <input type="text" name="author"><br><br>
            <label for="link">Amazon Link:</label><br>
            <input type="text" name="link"><br><br>
            <input type="submit" value="Submit">
          </form> 
    </div>
    <div class="pane">
        <%- include('partials/navpane') %>
    </div>
</body>
</html>